.print-no-display {
    display: none;
}

.print-text-center {
    text-align: center;
}

.menu {
    display: none !important;
}

.main-content, 
.page-main {
    padding-left: 0 !important;
}

.banns-table table,
.banns-description table {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.banns-attachments-container {
    display: none;
}

.footer-wrapper {
    display: none;
}

.banns-table {
    page-break-before: always;
}

.title-print {
    display: block !important;
    font-size: 35px;
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: 400;
    color: black;
}

h2.title-print {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 400;
}

.banns-description table, 
.banns-description th, 
.banns-description td,
.banns-table table, 
.banns-table th, 
.banns-table td  {
    padding: 12px !important;
}


.banns-description {
    overflow: initial;
 }

.banns-description table {
     width: 100%;
 }

.banns-table td {
    border: 1px solid #000000!important;
}

.banns-table td:nth-child(2) {
    min-width: 360px !important;
}

.print-date {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 30px;
}

.onlyprint {
    position: fixed;
    display: block !important;
    text-align: center;
    font-size: 10px;
    color: black;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}