.margin-0 {
    margin: 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 15px;
}

@media (min-width: 769px) {
    .margin-bottom-30 {
        margin-bottom: 30px;
    }
}

.margin-bottom-50 {
    margin-bottom: 25px;
}

@media (min-width: 769px) {
    .margin-bottom-50 {
        margin-bottom: 50px;
    }
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-120 {
    margin-bottom: 120px;
}

.margin-bottom-30-sm-down {
    margin-bottom: 30px;
}

@media (min-width: 769px) {
    .margin-bottom-30-sm-down {
        margin-bottom: 0;
    }
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top-negative-30 {
    margin-top: -30px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-100 {
    margin-top: 100px;
}

@media (min-width: 769px) {
    .padding-right-90-md-up {
        padding-right: 90px;
    }
}

@media all and (max-width: 768px) {
    .no-padding-top-sm-down {
        padding-top: 0;
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.font-size-26 {
    font-size: 13px;
}

@media (min-width: 769px) {
    .font-size-26 {
        font-size: 26px;
    }
}

@media (min-width: 769px) {
    .font-size-35 {
        font-size: 35px !important;
    }
}

.font-size-20 {
    font-size: 20px;
}

.font-size-50 {
    font-size: 50px !important;
}

.light-weight {
    font-weight: 300;
}

.semi-weight {
    font-weight: 600;
}

.align-right-on-xs {
    text-align: right;
}

@media (min-width: 769px) {
    .align-right-on-xs {
        text-align: left;
    }
}

.padding-0 {
    padding: 0;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 15px;
}

@media (min-width: 769px) {
    .padding-bottom-30 {
        padding-bottom: 30px;
    }
}

.padding-bottom-50 {
    padding-bottom: 25px;
}

@media (min-width: 769px) {
    .padding-bottom-50 {
        padding-bottom: 50px;
    }
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-120 {
    padding-bottom: 120px;
}

.padding-bottom-30-sm-down {
    padding-bottom: 30px;
}

@media (min-width: 769px) {
    .padding-bottom-30-sm-down {
        padding-bottom: 0;
    }
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-top-negative-30 {
    padding-top: -30px;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}
