
.photo-galleries-container {
    text-align: center;
}


.photo-galleries-container .photogallery-item {
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 8px 1px 0;
}


.photogallery-main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

.photo-galleries-container .photogallery-item:hover .photogallery-main-image {
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.photogallery-main-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 22px;
    padding: 20px;
    background: linear-gradient( to top, #000000e3, rgba(255, 0, 0, 0) );
    font-weight: 100;
}

.photo-gallery {
    text-align: center;
    background-color: white;
    margin:auto;
    font-size:0px;
    overflow: hidden;
}
  
.photo-gallery .photo {
    position: relative;
    display: block;
    cursor: pointer;
    height: 250px;
    float: left;
}

.photo-gallery img  {
    height: 250px;
    padding: 0 3px 3px 0;
}

.photo-gallery .title{
    position: absolute;
    bottom:20px;
    left:0px;
    text-align: center;
    right:0px;
    font-size:24px;
    font-weight: bold;
    color:#979797;
}

.photogallery-date,
.photogallery-author {
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    padding-right: 30px;
}

.photogallery-description {
    padding-bottom: 50px;
  
}