
body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-width: 100%;
    overflow-x: hidden;
}

[data-fancybox=gallery] {
    cursor: pointer;
}

.relative {
    position: relative;
}

hr {
    display: none;
}

img {
    max-width: 100%;
}

.full-width-image-container img {
    width: 100%;
}

h1, h2 {
    font-weight: 100;
}

.onlyprint {
    display: none;
}
.full-width .row {
    margin-right: 0;
    margin-left: 0;
}

.op-container .row {
    margin-left: -15px;
    margin-right: -15px;
}

.op-container {
    padding: 0 15px;
    max-width: 1300px;
    margin: 0 auto;
}

@media (min-width: 545px) {
    .op-container {
        padding: 0 30px;
    }
}

@media (min-width: 769px) {
    .op-container {
        padding: 0 60px;
    }
}

audio, video {
    max-width: 100%;
}

.video-container video {
    max-width: 100%;
}

.video-iframe-wrapper-container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.video-iframe-wrapper-container.full {
    width: 100%;
}
.video-iframe-wrapper {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0; 
}

.video-iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    border: none;
}

.sticky-content {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.star-container {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .star-container {
        padding-top: 100px;
    }
}

.star {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../Images/star.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu {
    border-right: 1px solid rgb(234, 234, 234);
    width: 100px;
    height: 100vh;
    position: fixed;
    transition: all ease-in-out 200ms;
    z-index: 11;
    background-color: white;
}

.menu.open {
    width: 220px;
}

.menu ul {
    white-space: nowrap;
    padding: 0;
}

.menu ul li {
    display: block;
}

.menu ul li a {
    color:transparent;
    text-decoration: none;
    position: relative;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms; 
    font-weight: 100;
    padding: 30px 0px;
    display: inline-block;
    width: 100%;
    font-size: 15px;
}

@media only screen and (max-height: 570px) {
    .menu ul li a {
        padding: 20px 0px;
    }
}

@media only screen and (min-width: 501px) {
    .menu ul li a span {
        position: absolute;
        top: 30px;
        left: 100px;
        opacity: 0;
        width: 100px;
        background-color: black;
        color: white;
        text-align: center;
        padding: 4px;
        font-size: 13px;
        font-weight: 100;
        -webkit-transition: all ease-in-out 200ms;
        -moz-transition: all ease-in-out 200ms;
        transition: all ease-in-out 200ms; 
        display: none;
    }

    .menu ul li a:hover span {
        opacity: 1;
        display: block;
    }
}

.menu ul li a:before {
    content: "";
    top: 23px;
    left: 35px;
    width: 25px;
    height: 25px;
    background-image: url(../Images/church.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; 
}

.menu ul li.church a:before {
    background-image: url(../Icons/church4.svg);
    width: 22px;
    height: 40px;
    left: 39px;
}

.menu ul li.monastery a:before {
    background-image: url(../Icons/dominik.svg);
    width: 32px;
    height: 40px;
    left: 35px;
}

.menu ul li.history a:before {
    background-image: url(../Icons/history-clock-button.svg);
    width: 26px;
    height: 40px;
    left: 36px;
}

.menu ul li.pilgrimage a:before {
    background-image: url(../Icons/ruzenec.svg);
    width: 25px;
    height: 40px;
    left: 38px;
}

.menu ul li.photogallery a:before {
    background-image: url(../Icons/gallery.svg);
    width: 25px;
    height: 40px;
    left: 38px;
}

.menu ul li.bells a:before {
    background-image: url(../Icons/bell.svg);
    width: 23px;
    height: 40px;
    left: 38px;
}

.menu ul li.microphone a:before {
    background-image: url(../Icons/microphone.svg);
    width: 25px;
    height: 42px;
    left: 38px;
}

.menu ul li.reconstruction a:before {
    background-image: url(../Icons/construction.png);
    width: 25px;
    height: 42px;
    left: 38px;
}

.menu ul li.contact a:before {
    background-image: url(../Icons/contact.png);
    width: 31px;
    height: 42px;
    left: 37px;
}
.menu ul li.community a:before {
    background-image: url(../Icons/community.png);
    width: 28px;
    height: 42px;
    left: 37px;
}

.menu ul li.eshop a:before {
    background-image: url(../Icons/eshop.png);
    width: 28px;
    height: 42px;
    left: 37px;
}

.menu-background {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    z-index: 10;
    background-color: gray;
    
    background-size: 100%;
    background-size: auto;
    background-position: 50% 50%;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms; 
}

.menu.open ul li a:before {
    left: 20px;
}

.menu.open ul li a {
    padding-left: 70px;
    color:gray;
}

.menu.open ul li a:hover {
    color:black;
}

@media only screen and (max-width: 500px) {
    .menu {
        width: 100%;
        height: auto;
        position: relative;
        border-bottom: 1px solid rgb(234, 234, 234);
        border-right: none;
    }

    .menu ul {
        text-align: center;
    }

    .menu ul li {
        display: inline-block;
    }

    .menu ul li a {
        padding: 5px 0px;
    }

    .menu ul li a:before {
        left: 12px!important;
        top: 0;
    }
    
    .menu ul li.monastery a:before {
        left: 10px!important;
    }

    .menu ul li a {
        width: 40px;
    }
}

.content-min-height {
    min-height: calc(100vh - 100px);
}

.logo {
    background-color: white;
    width: 100%;
    height: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.logo img {
    max-width: 50px;
}

@media only screen and (max-width: 500px) {
    .logo {
        line-height: 70px;
        height: auto;
    }
}

.page-wrap {
    max-width: 100%;
    overflow: hidden;
}

.main-content,
.page-main {
    min-height: 100%;
    min-height: 100vh;
    padding-left: 100px;
}

.main-content-normal-height {
    padding-left: 100px;
    padding-bottom: 100px;
}

@media only screen and  (max-width: 500px) {
    .main-content-normal-height,
    .main-content,
    .page-main {
        padding-left: 0;
    }
}

.main-content {
   
}

.main-hp-message h1,
.main-title {
    font-size: 35px;
    color: black;
    padding-top: 50px;
    margin-bottom: 50px;
}

.main-title.absolute {
    position: absolute;
    top: 100px;
    text-align: center;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    margin: 0;
    color: white;
}

@media only screen and (min-width: 768px) {
    .main-hp-message h1,
    .main-title {
        font-size: 50px;
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1650px) {
    .main-hp-message h1,
    .main-title {
        font-size: 81px;
        margin-left: -142px;
        margin-right: -50px;
    }
}

.main-perex {
    font-size: 20px;
    max-width: 100%;
    font-weight: 300;
}

.gray-content-container {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.black-content,
.gray-content {
    width: 50%;
    font-size: 22px;
    color: white;
    padding: 50px;
}

.black-content {
    color:black;
}

@media only screen and (max-width: 1000px) {
    .gray-content {
        width: 100%;
    }
}

.center-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    min-height: 70vh;
    height: 100%;
}

@media only screen and (min-width: 1900px) {
    .center-parent {
        min-height: 90vh;
    }
}

@media only screen and (max-width: 1000px) {
    .center-parent {
        min-height: 20vh;
    }
}

.center-content {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    color: black;
    padding: 100px 20px;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
}

.center-content.left {
    text-align: left;
}

.center-content.white {
    color:white;
}

.center-content.big {
    font-size: 30px;
}

@media only screen and (max-width: 545px) { 
    .center-content.big {
        font-size: 20px;
    }
}

.center-content ul {
    font-size: 25px;
    text-align: left;
}

.center-parent.absolute {
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 0;
}

.col-image {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .col-image {
        margin-top: 436px;
    }
}

.image-maria-container {
    max-width: 50%;
    -webkit-box-shadow: 0px 10px 44px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 10px 44px 0px rgba(0,0,0,0.69);
    box-shadow: 0px 10px 44px 0px rgba(0,0,0,0.69);
    margin: 0 0;
}

#section-wipes .panel {
    height: 100%;
    width: 100%;
    background-color: white;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    text-align: center;
}

.panel img {
    /* width: auto;
    height: 100%!important; */
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    -webkit-box-shadow: 0px 5px 30px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 5px 30px -2px rgba(0,0,0,0.45);
    box-shadow: 0px 5px 30px -2px rgba(0,0,0,0.45);
}

.demo#section-slides, .demo#section-wipes {
    height: 100vh;
    width: 100%;
    background-image: none;
}

.panel-image-container-wrapper {
    padding: 70px 15px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 70px!important;
}

@media only screen and (max-width: 600px) {
    .panel img {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .panel-image-container-wrapper {
        height: auto;
    }
}

.panel-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.panel-image-global-container {
    position: relative;
    overflow: hidden;
}

.panel .description {
    position: relative;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.82);
}

.panel .img-name {
    width: 100%;
    padding: 0 15px 15px;
    opacity: 1;
    color: #5a5a5a;
    margin-top: -48px;
    text-align: center; 
}

section .description {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.panel-text {
    position: relative; 
    margin-bottom: 100vh; 
    text-align: center;
    font-weight: 100;
}

.panel-text-inner {
    background-color: rgb(255, 255, 255);
    color: rgb(182, 182, 182); 
    padding: 15px;
    display: inline-block;
    text-align: center;
    border-bottom: 5px solid black;
}

.panel-text-title {
    font-size: 70px; 
}

.program {
    font-size: 16px;
    padding-bottom: 60px;
}

.program h2 {
    padding: 80px 30px 30px;
    text-align: center;
}

.program h3 {
    padding-bottom:30px;
}

.program-line {
    padding: 20px 0;
}
.program strong {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.program-time {
    font-weight: bold;
}

.program em,
.program-description {
   font-style: normal;
   color: #8c8c8c;
   font-size: 14px;
   display: block;
}


.footer-wrapper {
    text-align: center;
    padding: 50px 15px;
    padding-left: 100px;
}

@media only screen and (max-width: 500px) { 
    .footer-wrapper {
        padding-left: 0;
    }
}

.footer-wrapper a {
    color:#c1c1c1;
}

.rosary-mystery-container {
    text-align: center; 
}

.rosary-mystery {
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

.photo-grid-container img {
    padding-bottom: 30px;
}

.bells-container {
    text-align: center;
    line-height: 60px;
    font-weight: 100;
    font-size: 30px;
}

.absolute-black-background {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
    background-color: #000000;
    z-index: -1;
}

.altar-list {
    text-align: center;
}

.altar-preview-item {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    max-width: calc(100% - 30px);
}

.altar-preview-item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 25px;
    color: white;
    width: 100%;
    padding: 10px;
    font-weight: 100;
    transition: all ease-in-out 300ms;
}

.altar-preview-item:hover .altar-preview-item-title {
    bottom: 8px;
}

.map-container {
    min-height: 62vw;
}

.blackbox {
    background: black;
    color: white;
    padding: 30px;
    opacity: 0.8;
}

@media only screen and (min-width:768px) {
    .blackbox.absolute {
        position: absolute;
        bottom: 30px;
        right: 30px;
        max-width: 100%;
        max-width: calc(100% - 60px);
    }
}

.history-photo-gallery {
    text-align: center;
}

.history-photo-gallery img {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 15px;
}


.work-photo-gallery {
    text-align: center;
}

.work-photo-gallery img {
    display: inline-block;
    height: 300px;
    padding: 15px;
}


.banns-item {

}

.banns-item a {
    font-size: 20px;
    color: black;
}

.banns-main-date {
    color: gray;
    padding-left: 30px;
}

.banns-table {
    overflow: auto;
}


.banns-table table {
    min-width: 1000px;
}

.banns-description table, 
.banns-description th, 
.banns-description td,
.banns-table table, 
.banns-table th, 
.banns-table td {
    border: 1px solid #e6e6e6;
    padding: 15px;
    vertical-align: top;
}

.banns-table table tr {
    transition: all ease-in-out 200ms;
}

.banns-table table tr:first-child,
.banns-table table tr:last-child {
    background-color: #f7f7f7;
}

.banns-table table tr:hover {
    background-color: #f0f0f0;
}

.banns-table td:first-child {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.banns-table td:nth-child(2) {
    vertical-align: middle;
    min-width: 430px;
}

.banns-table td:nth-child(3) {
    text-align: right;
    vertical-align: middle;
}

.banns-table td:nth-child(4) {
    vertical-align: middle;
    max-width: 400px;
}

.banns-table td:first-child strong {
    font-size: 20px;
}

.banns-table td:first-child strong:nth-child(2) {
    font-weight: normal;
}

.banns-table td:first-child strong::after {
    /* content: "\A";
    white-space: pre; */
}

.banns-attachments-container {
    padding: 50px 0;
}

.title-print {
    display: none;
}


.banns-description {
   overflow: auto;
}

ul.homepage-program {
    list-style: none;
}

.homepage-program li {
    font-size: 25px;
    padding-bottom: 30px;
    font-weight: 300;
}

.full-page-text {
    font-size: 17px;
    line-height: 28px;
}

@media only screen and (max-width: 545px) {
    .full-page-text {
       padding-left: 20px;
       padding-right: 20px;
    }
}

.mass-info {
    text-align: center;
    padding: 100px 30px;
    font-size: 19px;
    font-weight: 300;
}

.mass-info p {
    padding: 0;
    margin: 0;
}

.main-hp-message p{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 300;
 }

 .product-category {
    margin-top: 80px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-collapse: collapse;

 }

 .product-category h3 {
    font-weight: 100;
    font-size: 30px;
 }

.product-category h4 {
    font-weight: 300;
    font-size: 18px;
 }

 .product-item {
    padding: 20px 20px 0;
    border-bottom: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
 }

 .product-main-title {
    font-weight: 500;
 }

 .product-price {
    font-weight: bold;
 }

 .product-category-menu {
    text-align: center;
 }
.product-category-menu-item {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    background-color: black;
    color:white !important;
}