
.fade-appear,
.fade-enter {
  opacity: 0;
  transition: all 300ms linear;
  transform: translate3d(0, 10px, 0px);
}

.fade-appear-active,
.fade-enter-active {
  transition: all 300ms linear;
  opacity: 1;
  transform: translate3d(0, 0, 0px);
}

.fade-exit {
  transition: all 300ms linear;
  opacity: 1;
  transform: translate3d(0, 0, 0px);
}

.fade-exit-active {
  opacity: 0;
  transform: translate3d(0, 10px, 0px);
}