.timeline-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #79838c;
}

.timeline-container div.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
}

.timeline-container div.header {
  height: auto;
  text-align: center;
  background: slategrey;
  color: ghostwhite;
  padding: 2.3rem 1rem 2.3rem 1rem;
  position: relative;
}

.timeline-container div.header:after {
  content: '';
  position: absolute;
  bottom: -5rem;
  left: 0rem;
  height: 5.1rem;
  display: block;
  width: 100%;
  z-index: 300;
  background: -moz-linear-gradient(top, white 20%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 20%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 20%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}
.timeline-container div.header h1 {
  margin-top: .8rem;
  margin-bottom: .5rem;
  font-weight: 200;
  font-size: 1.6em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
@media (min-width: 62em) {
    .timeline-container div.header h1 {
    font-size: 1.9em;
    letter-spacing: 0.2rem;
  }
}
.timeline-container div.header h2 {
  font-size: 1.1em;
  font-weight: 400;
  color: #cfd7de;
  max-width: 30rem;
  margin: auto;
}

.timeline-container #timeline {
  position: relative;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 5rem;
  padding: 0 10px;
}

.timeline-container #timeline h3 {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  color: #C5C5C5;
  width: auto;
  text-align: right;
  font-weight: 100;
  text-align: left;
  padding: 0 15px 0 15px;
  margin: 0;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.63);
  z-index: 20;
  display: inline-block;
}


@media (max-width:992px) {
    .timeline-container #timeline h3 {
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
        position: relative;
    }
}
.timeline-container #timeline section.year {
  position: relative;
  border-bottom: 4px solid rgb(234, 234, 234);
  padding: 20px 0 40px;
}

.timeline-container #timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}
.timeline-container #timeline section.year section {
  position: relative;
  margin-bottom: 30px;
  z-index: 2;
  text-align: center;
}

.timeline-container #timeline section.year section h4 {
  /* position: absolute;
  bottom: 0; */
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  padding: 20px ;
  color: #C5C5C5;
  display: table;
  width: 100%;
}

@media (min-width: 400px) {
  .timeline-container #timeline section.year section h4:before,
  .timeline-container #timeline section.year section h4:after {
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    background-image: -moz-linear-gradient(transparent 49%, #ddd 50%, #ddd 51%, transparent 51%);
    background-image: -webkit-linear-gradient(transparent 49%, #ddd 50%, #ddd 51%, transparent 51%);
    background-image: linear-gradient(transparent 49%, #eee 50%, #ddd 51%, transparent 51%);
    content: "";
    display: table-cell;
    width: 20%;
  }
}

@media (min-width: 768px) {
  .timeline-container #timeline section.year section h4 {
    white-space: nowrap;
  }

  .timeline-container #timeline section.year section h4:before,
  .timeline-container #timeline section.year section h4:after {
    width: 50%;
  }
}

.timeline-container #timeline section.year section h4:before {
  border-right: 15px solid transparent;
}

.timeline-container #timeline section.year section h4:after {
  border-left: 15px solid transparent;
}

/* @media (max-width: 992px) {
    .timeline-container #timeline section.year section h4 {
        padding-left: 0;
    }
} */

.timeline-container #timeline section.year section ul {
  list-style-type: none;
  padding: 0 0 0 0px;
  max-width: 100%;
  font-size: 17px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 992px) {
    .timeline-container #timeline section.year section ul {
      padding: 0 0 0 0;
  }
}

.timeline-container #timeline section.year section ul:last-child {
  margin-bottom: 0;
}


@media (max-width: 992px) { 
    .timeline-container #timeline section.year section ul:first-of-type:after {
        display: none;
    }
}

.timeline-container #btcwidget {
  display: inline;
}
.timeline-container #btcwidget img {
  display: none;
}

.timeline-container svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
